.choixLangage
{
    position: absolute;
    height: 110px;
    width: 35px;
    background: white;
    border-radius: 30px;
    top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    display: none;
}
.menuChoixLang
{
    position: absolute;
    display: block;
    left: 3px;
    width: 50px;
    background: #fff;
    z-index: 1;
    transition: all 0.5s;
}
.lang
{
    width: 50px;
    cursor: pointer;
}
.lang:hover
{
    opacity: 0.5;
}
.langages
{
    position: relative;
    border: 1px solid #aaa;
    width: 56px;
    height: 58px;
    margin: 20px;
    background: #fff;
    margin-top: 30Px;
}
.menu-html
{
    top: 0;
}