.popUpBodyFlex
{
    display: flex;
    margin-top: 100px;
}
.popUpImageComposant
{
    width: 100%;
    margin-top: 40px;
}
.popUpImage
{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.popUpCode
{
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    border: #000000 solid;
    text-align: center;
}
.closePopUp
{
    border: none;
    background-color: red;
    font-size: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    text-align: center;
    display: inline;
    margin-top: 10px;
    margin-right: 10px;
}