.popUpChoixModel
{
    display: none;
    position: absolute;
    background-color: white;
    width: 75%;
    min-height: 810px;
    top: 100px;
    left: 140px;
    box-shadow: -2px -1px 22px -1px #000000;
    z-index: 2;
    margin-right: 20px;
}
.headerPopUp
{
    width: 100%;
    min-height: 100px;
    background-color: #1F2430;
    display: flex;
    justify-content: end;
}
.closePopUpChoix
{
    border: none;
    background-color: red;
    font-size: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    text-align: center;
    display: inline;
    margin-top: 10px;
    margin-right: 10px;
}