.containFriends
{
    width: 273px;
    margin-left: 5px;
    background-color: #414141;
    min-height: 500px;
    margin-top: 5px;
}
.friend
{
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
}
.pseudoFriend
{
    margin-left: 15px;
}
.connectFriend
{
    margin-left: 15px;
}
.imgConnect
{
    margin-left: 15px;
}