body
{
    background-color: #313131;
}
.contentFormulaire
{
    margin: auto;
    width: 35%;
    min-height: 500px;
    background-color: #414141;
    border: solid black 2px;
    margin-top: 50px;
    border-radius: 50px;
}
.formulaire-block
{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
}
.titre-form
{
    color: white;
    text-align: center;
    margin: 25px;
}
.formulaire
{
    margin: 25px;
    padding: 10px;
    border-radius: 50px;
    border: none;
}
.formulaire-inscription::placeholder
{
    text-align: center;
}
.formulaire-submit
{
    margin: 25px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: seagreen;
    color: white;
}